In [18]:
import pandas as pd
import numpy as np
import pickle

In [44]:
df1 = pickle.load(open("../pickle/anti_asian_1000.pickle", "rb"))
df1['label'] = 1
df1 = df1.drop(columns=['author_id', 'created_at', 'id'], axis=1)
df1.head()

                                                text  label
0  Fuck the ding dongs. Fuck the ching chongs. An...      1
1  Fuck china fuck China fuck China\nFuck China f...      1
2  I do n’t believe this is eating bats, which is...      1
3  @Peoples_Pundit CCP Wuhan Virus, more Chinese ...      1
4  Dr. Sean Lin said call it what it is - #ChinaV...      1

In [45]:
df2 = pickle.load(open("../pickle/rac_sex_2741.pickle", "rb"))
df2['label'] = 1
df2 = df2.drop(columns=['id', 'author_id', 'created_at'], axis=1)
df2.head()

                                                text  label
0  Drasko they didn't cook half a bird you idiot ...      1
1  Hopefully someone cooks Drasko in the next ep ...      1
2  of course you were born in serbia...you're as ...      1
3  These girls are the equivalent of the irritati...      1
4  RT @YesYoureRacist: At least you're only a tin...      1

In [46]:
df3 = pd.read_csv("../data/labeled_data.csv", index_col=0)
df3 = df3.drop(columns=['count', 'hate_speech', 'offensive_language', 'neither'], axis=1)
df3.columns = ['label', 'text']
df3.head()

   label                                               text
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [47]:
df3.label.value_counts()

1    19190
2     4163
0     1430
Name: label, dtype: int64

In [48]:
df3 = df3.replace({'label': {1: 0, 2: 0, 0: 1}})

In [49]:
df3.label.value_counts()

0    23353
1     1430
Name: label, dtype: int64

In [55]:
comb = pd.concat([df3, df2, df1])
comb = comb.reset_index(drop=True)
comb

       label                                               text
0          0  !!! RT @mayasolovely: As a woman you shouldn't...
1          0  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2          0  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3          0  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4          0  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...      ...                                                ...
28526      1  @jorge_guajardo Do not trust the CCP. They lie...
28527      1  @MarkSimoneNY Quarantine China from the world ...
28528      1  @MarlowNYC BS - Wuhan Doctor Ai Fen has now di...
28529      1  @wadewang85 @ccp_is_loser @IntyMedia @realDona...
28530      1  @FernandoAmandi China must pay the price for c...

[28531 rows x 2 columns]

In [56]:
comb.label.value_counts()

0    23353
1     5178
Name: label, dtype: int64

In [59]:
import re

In [60]:
def preprocess_tweet(df, col):
    df[col] = df[col].apply(lambda x: re.sub(r'@[\S]+', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'&[\S]+?;', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'#', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'(\bRT\b|\bQT\b)', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'http[\S]+', ' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'[^\w\s]', r'', str(x)))
    df[col] = df[col].apply(lambda x: " ".join(x.lower() for x in x.split()))
    df[col] = df[col].apply(lambda x: re.sub(r'\w*\d\w*', r' ', str(x)))
    df[col] = df[col].apply(lambda x: re.sub(r'\s\s+', ' ', str(x)))

In [61]:
preprocess_tweet(comb, 'text')

In [62]:
comb

       label                                               text
0          0  as a woman you shouldnt complain about cleanin...
1          0  boy dats coldtyga dwn bad for cuffin dat hoe i...
2          0  dawg you ever fuck a bitch and she start to cr...
3          0                             she look like a tranny
4          0  the shit you hear about me might be true or it...
...      ...                                                ...
28526      1  do not trust the ccp they lied they killed ccp...
28527      1  quarantine china from the world until they sto...
28528      1  bs wuhan doctor ai fen has now disappeared she...
28529      1  this is ccp virus not chinese virus the chines...
28530      1  china must pay the price for covering up the t...

[28531 rows x 2 columns]