# Twitter API Workbook

In [1]:
import pandas as pd
import json

# Database 1

In [92]:
df = pd.read_csv('data/hate.csv')
df.head()

,Tweet ID,User ID,Hate Probability,Counterhate Probability,Neutral Probability,Label
0,1242513753733808128,1037398540698312704,0.625769,0.210356,0.063975,Hate
1,1242355882119155713,1242352444136247298,0.793170,0.133605,0.008983,Hate
2,1242280806711611392,14369596,0.664656,0.447038,0.075040,Hate
3,1242484533875707910,1067189627721850880,0.798824,0.015304,0.112250,Hate
4,1242433526407917568,3139806542,0.969103,0.001253,0.092968,Hate

In [93]:
sorted_df = df.sort_values(by='Hate Probability', ascending=False)
sorted_df.head()

,Tweet ID,User ID,Hate Probability,Counterhate Probability,Neutral Probability,Label
560314,1240976182494908416,884055068265164801,0.999974,0.000520,0.000382,Hate
515476,1238239331879464960,1136405401770106880,0.999966,0.000625,0.000105,Hate
396712,1247813175996792834,1234197517006450688,0.999959,0.003865,0.000018,Hate
424027,1245317927823233024,1232772980763054081,0.999958,0.001476,0.000318,Hate
380359,1241373862756888577,907414928,0.999952,0.018423,0.000788,Hate

In [84]:
id100 = re.sub(r'[\s]+', r'', str(sorted_df.iloc[0:99]['Tweet ID'].to_list())[1:-1])
id200 = re.sub(r'[\s]+', r'', str(sorted_df.iloc[100:199]['Tweet ID'].to_list())[1:-1])
id300 = re.sub(r'[\s]+', r'', str(sorted_df.iloc[200:299]['Tweet ID'].to_list())[1:-1])
id400 = re.sub(r'[\s]+', r'', str(sorted_df.iloc[300:399]['Tweet ID'].to_list())[1:-1])
id500 = re.sub(r'[\s]+', r'', str(sorted_df.iloc[400:499]['Tweet ID'].to_list())[1:-1])

In [89]:
# compiled_list = []
# id_list = [id100, id200, id300, id400, id500]
# for n in id_list:
#     url = "https://api.twitter.com/2/tweets?ids={}&tweet.fields=created_at&expansions=author_id&user.fields=created_at".format(n)
#     payload={}
#     headers = {'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAC%2BENQEAAAAAfnFSBfOaRPm%2BlE8tcIlSeowiivU%3DFflwidmT12NN6jAHbaD4yACV2vULoVD4UaoKc0A92Bc4pQEoWo',
#     'Cookie': 'personalization_id="v1_hzpv7qXpjB6CteyAHDWYQQ=="; guest_id=v1%3A161498381400435837'}
#     r = requests.request("GET", url, headers=headers, data=payload)
#     data = r.json()
#     compiled_list.append(data)

# pickle.dump(compiled_list, open("data/azhate_500.pickle", "wb"))

# Database 2

In [9]:
df2 = pd.read_csv('data/hate_add.csv')
df2.head()

   572342978255048705  racism
0  572341498827522049  racism
1  572340476503724032  racism
2  572334712804384768  racism
3  572332655397629952  racism
4  575949086055997440  racism

In [10]:
df2.racism.value_counts()

none      11559
sexism     3378
racism     1969
Name: racism, dtype: int64

## Sexist Tweets

In [16]:
sex = df2[df2.racism == 'sexism']
sex.columns = ['id', 'label']

In [94]:
sex1 = re.sub(r'[\s]+', r'', str(sex.iloc[0:99].id.to_list())[1:-1])
sex2 = re.sub(r'[\s]+', r'', str(sex.iloc[100:199].id.to_list())[1:-1])
sex3 = re.sub(r'[\s]+', r'', str(sex.iloc[200:299].id.to_list())[1:-1])
sex4 = re.sub(r'[\s]+', r'', str(sex.iloc[300:399].id.to_list())[1:-1])
sex5 = re.sub(r'[\s]+', r'', str(sex.iloc[400:499].id.to_list())[1:-1])

In [98]:
# compiled_list = []
# id_list = [sex1, sex2, sex3, sex4, sex5]
# for n in id_list:
#     url = "https://api.twitter.com/2/tweets?ids={}&tweet.fields=created_at&expansions=author_id&user.fields=created_at".format(n)
#     payload={}
#     headers = {'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAC%2BENQEAAAAAfnFSBfOaRPm%2BlE8tcIlSeowiivU%3DFflwidmT12NN6jAHbaD4yACV2vULoVD4UaoKc0A92Bc4pQEoWo',
#     'Cookie': 'personalization_id="v1_hzpv7qXpjB6CteyAHDWYQQ=="; guest_id=v1%3A161498381400435837'}
#     r = requests.request("GET", url, headers=headers, data=payload)
#     data = r.json()
#     compiled_list.append(data)

# pickle.dump(compiled_list, open("data/sex_500.pickle", "wb"))

## Racist Tweets

In [101]:
rac = df2[df2.racism == 'racism']
rac.columns = ['id', 'label']

In [102]:
rac1 = re.sub(r'[\s]+', r'', str(rac.iloc[0:99].id.to_list())[1:-1])
rac2 = re.sub(r'[\s]+', r'', str(rac.iloc[100:199].id.to_list())[1:-1])
rac3 = re.sub(r'[\s]+', r'', str(rac.iloc[200:299].id.to_list())[1:-1])
rac4 = re.sub(r'[\s]+', r'', str(rac.iloc[300:399].id.to_list())[1:-1])
rac5 = re.sub(r'[\s]+', r'', str(rac.iloc[400:499].id.to_list())[1:-1])

In [ ]:
# compiled_list = []
# id_list = [rac1, rac2, rac3, rac4, rac5]
# for n in id_list:
#     url = "https://api.twitter.com/2/tweets?ids={}&tweet.fields=created_at&expansions=author_id&user.fields=created_at".format(n)
#     payload={}
#     headers = {'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAC%2BENQEAAAAAfnFSBfOaRPm%2BlE8tcIlSeowiivU%3DFflwidmT12NN6jAHbaD4yACV2vULoVD4UaoKc0A92Bc4pQEoWo',
#     'Cookie': 'personalization_id="v1_hzpv7qXpjB6CteyAHDWYQQ=="; guest_id=v1%3A161498381400435837'}
#     r = requests.request("GET", url, headers=headers, data=payload)
#     data = r.json()
#     compiled_list.append(data)

# pickle.dump(compiled_list, open("data/rac_500.pickle", "wb"))